[[targets]]
name = "maika"
type = "executable"
cflags_cc = [
  "-std=c++1z",
]
include_dirs = [
  ".",
  "thirdparty/catch2",
  "thirdparty",
]
sources = [
  "AST/ASTContext.cpp",
  "AST/ASTDumper.cpp",
  "AST/ASTVisitor.cpp",
  "AST/Comment.cpp",
  "AST/Decl.cpp",
  "AST/Expr.cpp",
  "AST/Stmt.cpp",
  "AST/Type.cpp",
  "Basic/Diagnostic.cpp",
  "Basic/Location.cpp",
  "CodeGen/BytecodeGenerator.cpp",
  "CodeGen/Instruction.cpp",
  "CodeGen/Runtime.cpp",
  "CodeGen/Transpiler.cpp",
  "Driver/Driver.cpp",
  "Parser/Lexer.cpp",
  "Parser/Parser.cpp",
  "Printer/ASTFormatter.cpp",
  "Printer/PrettyPrinter.cpp",
  "Sema/ASTEvaluator.cpp",
  "Sema/Entity.cpp",
  "Sema/IdentifierResolver.cpp",
  "Sema/Scope.cpp",
  "Sema/SemaChecker.cpp",
  "Sema/TypeInferer.cpp",
  "Sema/TypeResolver.cpp",
  "Sema/Value.cpp",
  "tests/DumpTest.cpp",
  "tests/IdentifierResolverTest.cpp",
  "tests/LexerTest.cpp",
  "tests/main.cpp",
  "tests/ParserTest.cpp",
  "tests/PrettyPrinterTest.cpp",
  "tests/SemaCheckerTest.cpp",
  "tests/TypeResolverTest.cpp",
  "thirdparty/duktape/duktape.c",
]

[targets.tagged."mac"]
cflags = [
  "-target x86_64-apple-macosx10.11",
]
ldflags = [
  "-lSystem",
  "-lc++",
  "-macosx_version_min 10.11",
]
